@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.woff2);
}
@font-face {
    font-family:rejoy ;
    src: url(./Rejouice-Headline.woff2);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "nb";
}
html,body{
   height: 100%;
   width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: pink; */
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1{
    font-family: rejoy;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
}
#page1-content h1 span{
    font-family: rejoy;
    display: inline-block; 
}
#page2{
    height: 100vh;
    width: 100%;
}
#page2-content{
    display: flex;
    flex-direction: column;
    padding: 4vw 4vw;
}
#page2-content .header{
    display: flex;
    justify-content: space-between;
    color: #6c6b6b;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 6px;
}
#page2-content .para{
    padding-top: 7px;
    font-weight: 100;
    font-size: 25px;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}
#page3-top{
    text-align: center;
}
#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}
#page3-top h4 span{
    font-size: 0.8vw;
    background-color: black;
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
    letter-spacing: 0.5px;
}
#page3-top h2{
   font-size: 4vw;
   font-weight: 500;
}
#page3-el{ 
    height: 75vh;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
}
#page3-el .box{
    height: 100%;
    width: 32.5%;
    background-color: purple;
    position: relative;
}
#page3-el .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-el .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.7s;
}
#page3-el .box:hover img{
    opacity: 0;
}
#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 video{
    height: 100%;
}
#page4 svg{
    position: absolute;
    height: 60%;
}
#page5{
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}
#page5 h1{
    font-size: 10vw;
    font-family: rejoy;
    font-weight: 100;
    border-bottom: 1px solid #000;
    width: 96%;
    margin-left: 2%;
}
#swiper{
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -5%;
}
.swiper {
    width: 100%;
    /* height: 100%; */
  }
  .swiper-slide {
    width: 400px;
    text-align: center;
    font-size: 18px;
    /* background: #7e3c3c; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .swiper-slide img {
    display: block;
    width: 19%;
    /* height: 100%; */
    object-fit: cover;
  }

  /* .swiper {
    margin-left: auto;
    margin-right: auto;
  } */
  #loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
  }
  #loader h3{
    font-size: 2vw;
    font-weight: 2vw;
  }